
/*
管理员主界面
*/
.pageBody
{
    width: 1275px;
    margin: 20px;
    height: 575px;
    border:1px;
    padding:20px 20px;
}

#aside
{
    border:1px ;
    padding:20px 20px;
    border-radius:20px;
    height:470px;
    width:200px;
    margin:0px;
    float:left
}

#menu ul
{
    list-style: none;
    /*margin: 0px;*/
}
#menu ul li
{
    height: 60px;
    width: 200px;
    margin-top: 25px;
    font-family: "Microsoft YaHei";
    font-size: 24px;
    text-align: center;
<<<<<<< HEAD
    background: #b9def0;

    line-height: 60px;
    border-radius: 5px;
    cursor: hand;
=======
    background: #bbbbbb;
    line-height: 55px;
}
#menu ul li:visited
{
    color: #00b3ee;
    background: #bbbbbb;
>>>>>>> 5be5e5f3d026bdb875206beea0a567b9720a172e
}

.mainView
{
    border:1px ;
    padding:20px 20px;
    border-radius:20px;
    height:450px;
    width:76%;
    margin:15px;
    float:right;
    overflow-y: scroll;
}
