/*
剧目
*/
.playSpan
{
    font-family: "Microsoft YaHei";
    font-size: 20px;
    margin-left: 20px;
    width: 12.5%;
    margin-top: 50px;
    height: 40px;
    text-align: center;

}

.playSpan1
{
    font-size: 18px;
    margin-left: 10px;
    width: 10%;
    text-align: center;
    display:-moz-inline-box;
    display:inline-block;
    margin-top: 5px;
}

.playButton
{
    border:2px solid #a1a1a1;
    width: 79px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 0;
    outline: 0;
    background-position: left top;
    color: #555;
    font-size: 14px;
    margin-left: 25px;
    display:-moz-inline-box;
    display:inline-block;
}

.playButton1
{
    border:2px solid #a1a1a1;
    width: 79px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 0;
    outline: 0;
    background-position: left top;
    color: #555;
    font-size: 14px;
    margin-left: 3px;
    display:-moz-inline-box;
    display:inline-block;
}
.playInput
{
    border:1px solid #a1a1a1;
    width:225px;
    height : 40px;
    border-radius:5px;
    margin-top: 50px;
    font-size:12px;
    margin-right: 25px;
}
.playInput1
{
    border:1px solid #a1a1a1;
    width:550px;
    height : 160px;
    border-radius:5px;
    margin-top: 50px;
    font-size:12px;
    margin-right: 25px;
}