.screen
{
    border:2px solid #a1a1a1;
    width: 70%;
    height: 50px;
    margin-left: 15%;
    margin-top: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    /*font-weight: bolder;*/
    border-radius: 5px;
    color:black;
    background-color: gainsboro;
}
.seatMainView
{
    /*border:2px solid #a1a1a1;*/
    width: 70%;
    /*padding: 20px;*/
    height: 600px;
    margin-left: 5%;
    float: left;
    color: #bbbbbb;
    margin-top: 10px;
    position: relative;
}
.seat{
    position: absolute;
    left:50%;
    transform: translate(-50%,0px);

}
.seatView
{
    border:2px solid #a1a1a1;
    width: 80%;
    height: 600px;
    margin-left: 5%;
    color: #bbbbbb;
    margin-top: 10px;
}
.buyView
{
    border:2px solid #a1a1a1;
    width: 15%;
    height: 400px;
    margin-top: 100px;
    margin-right: 40px;
    float: right;
    overflow-y: scroll;
}
/*.seatSpan*/
/*{*/
    /*width: 50px;*/
    /*height: 30px;*/
    /*margin-left: 30px;*/
    /*text-align: center;*/
    /*display:-moz-inline-box;*/
    /*display:inline-block;*/
    /*color: #009926;*/
/*}*/
.seatSpani
{
    margin-left: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    display:-moz-inline-box;
    display:inline-block;
    color: #009926;
}
.seatSpanj
{
    margin-left: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    display:-moz-inline-box;
    display:inline-block;
    color: #009926;
}
.seatButton
{
    border:2px solid #a1a1a1;
    width: 79px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 0;
    outline: 0;
    background-position: left top;
    background: #cccccc;
    color: #000080;
    font-size: 14px;
    margin-left: 30%;
    display:-moz-inline-box;
    display:inline-block;
}

.setTitle
{
    text-align: center;
    font-size: x-large;
    color: midnightblue;
}
.buySeat
{
    border:2px solid #a1a1a1;
    width: 80px;
    text-align: center;
    font-size: large;
    margin-left: 30%;
    margin-top: 5px;
}
.seatSpan{
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 20px;

    text-align: center;
    line-height: 30px;
    color:black ;
}
.seatSpan1{
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 20px;

    text-align: center;
    line-height: 30px;
    color:black;
}
.index{
    color: black;
}