/*
演出厅
*/
#addStudio
{
    width:800px;
    height: 550px;
    border:1px solid #a1a1a1;
    margin-left:300px;
    margin-top: 50px;
}
.colStyle
{
    margin-left: 50px;
    text-align: center;
}
.studioLab
{
    margin-right: 30px;
    font-size: large;
}
.studioInput
{
    border:1px solid #a1a1a1;
    padding:20px 20px;
    width:225px;
    height : 10px;
    border-radius:20px;
    margin-top: 60px;
    font-size:12px;
    margin-left: 35px;

}

.studioSpan
{
    font-size: 18px;
    margin-left: 65px;
    width: 10%;
    text-align: center;
    display:-moz-inline-box;
    display:inline-block;
}

.studioSpan1
{
    font-size: 18px;
    margin-left: 85px;
    width: 10%;
    text-align: center;
    display:-moz-inline-box;
    display:inline-block;
}

.studioButton
{
    border:2px solid #a1a1a1;
    width: 79px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 0;
    outline: 0;
    background-position: left top;
    color: #555;
    font-size: 14px;
    margin-left: 60px;
    display:-moz-inline-box;
    display:inline-block;
}

.studioButton1
{
    border:2px solid #a1a1a1;
    width: 79px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 0;
    outline: 0;
    background-position: left top;
    color: #555;
    font-size: 14px;
    margin-left: 3px;
    display:-moz-inline-box;
    display:inline-block;
}