/*
演出厅
*/
#addStudio
{
    width:800px;
    height: 550px;
    border:1px solid #a1a1a1;
    margin-left:300px;
    margin-top: 50px;
}
.colStyle
{
    margin-left: 50px;
    text-align: center;
}
.studioLab
 {
     margin-right: 30px;
     font-size: large;
     text-align: center;
     display:-moz-inline-box;
     display:inline-block;
 }

.studioLab1
{
    width: 19%;
    margin-left: 20px;
    font-size: large;
    text-align: center;
    display:-moz-inline-box;
    display:inline-block;
}
.studioInput
{
    border:1px solid #a1a1a1;
    height : 40px;
    width:225px;
    border-radius:5px;
    margin-top: 50px;
    font-size:12px;
    margin-left: 35px;
    display:-moz-inline-box;
    display:inline-block;
}

.studioInput1
{
    border:1px solid #a1a1a1;
    height : 40px;
    width:225px;
    border-radius:5px;
    margin-top: 50px;
    font-size:12px;
    margin-left: 0px;
}

.studioInput2
{
    border:1px solid #a1a1a1;
    height : 40px;
    width:225px;
    border-radius:5px;
    margin-top: 50px;
    font-size:12px;
    margin-right: 25px;
}

.studioSpan
{
    font-size: 18px;
    margin-left: 23px;
    width: 10%;
    text-align: center;
    display:-moz-inline-box;
    display:inline-block;
    margin-top: 5px;
}

.studioSpan1
{
    font-size: 18px;
    margin-left: 45px;
    width: 10%;
    text-align: center;
    display:-moz-inline-box;
    display:inline-block;
    margin-top: 5px;
}

.studioButton
{
    border:2px solid #a1a1a1;
    width: 79px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 0;
    outline: 0;
    background-position: left top;
    background: #cccccc;
    color: #000080;
    font-size: 14px;
    margin-left: 135px;
    display:-moz-inline-box;
    display:inline-block;
}

.studioButton1
{
    border:2px solid #a1a1a1;
    width: 79px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 0;
    outline: 0;
    background-position: left top;
    background: #cccccc;
    color: #000080;
    font-size: 14px;
    margin-left: 3px;
    display:-moz-inline-box;
    display:inline-block;
}

.stuSpan
{
    font-family: "Microsoft YaHei";
    font-size: 18px;
    margin-left: 27px;
    width: 12.5%;
    margin-top: 50px;
    height: 40px;
    text-align: center;
}