.back
{
    background: url(../image/timg.jpg);
    background-size: 100%,100%;
}

#title
{
    height: 62px;
    overflow: hidden;
    border-bottom: 1px solid #d6dfea;
    font-size:xx-large;
}

.table
{
    font-family: "Microsoft YaHei";
    font-size: 18px;
    margin-left: 70px;
    width: 12.5%;
    margin-top: 50px;
    height: 40px;
    text-align: center;

}
.table2
{
    width: 12.5%;
    margin-left: 80px;
    text-align: center;

}
.table1
{
    position:relative;
    text-align:center;
    width: 12.5%;
    margin-left:60px ;
}
.table3
{
    width: 12.5%;
    margin-left:90px ;
    text-align: center;
}

.conductor
{
    width: 100%;
    height: 70px;
}

.col
{
    margin-left: 150px;
}
.split
{
    margin-right: 30px;
}

/*搜索框*/
.search
{
    margin: 0 0 0 7px;
    height: 28px;
    outline: 0;
    border: 0;
    width: 200px;
    _top: 4px;
    margin-left: 55%;
}
/*搜索按钮*/
.searchButton
{
    border:2px solid #a1a1a1;
    width: 79px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 0;
    outline: 0;
    background-position: left top;
    color: #555;
    font-size: 14px;
    margin-left: 5px;
}
/*修改按钮*/
.modifyButton
{
    border:2px solid #a1a1a1;
    width: 79px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 0;
    outline: 0;
    background-position: left top;
    color: #555;
    font-size: 14px;
    position:fixed;
    right:240px;
}
/*删除按钮*/
.deleteButton
{
    border:2px solid #a1a1a1;
    width: 79px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 0;
    outline: 0;
    background-position: left top;
    color: #555;
    font-size: 14px;
    position:fixed;
    right:155px;
}


