.back
{
    background: url(../image/timg.jpg);
    background-size: 100%,100%;
}

#title
{
    height: 60px;

    border-bottom: 1px solid #d6dfea;
    font-size:50px;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 5px;
}

.table
{
    font-family: "Microsoft YaHei";
    font-size: 20px;
    margin-left: 70px;
    width: 12.5%;
    margin-top: 50px;
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.col
{
    margin-left: 150px;
}

/*搜索框*/
.search
{
    margin: 0 0 0 7px;
    height: 28px;
    outline: 0;
    border: 0;
    width: 200px;
    _top: 4px;
    margin-left: 58%;
}
/*搜索按钮*/
.searchButton
{
    border:2px solid #a1a1a1;
    width: 79px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 0;
    outline: 0;
    background-position: left top;
    background: #cccccc;
    color: #000080;
    font-size: 14px;
    margin-left: 3px;
}
.user
{
    color: #00b3ee;
    font-size: large;
    float: right;
    margin-right: 10px;
}
.returnButton {
    width: 35px;
    height: 35px;
    border: 2px solid #00b3ee;
    border-radius: 50%;
    color: #000080;
}
.returnButton1 {
    width: 40px;
    height: 40px;
    border: 2px solid #00b3ee;
    border-radius: 50%;
    color: #000080;
}

