.ticketSpan
{

    font-family: "Microsoft YaHei";
    font-size: 20px;
    margin-left: 30px;
    width: 12%;
    margin-top: 10px;
    height: 40px;
    text-align: center;
    margin-bottom: 20px;
    display:-moz-inline-box;
    display:inline-block;
}
.ticketSpan1
{

    font-family: "Microsoft YaHei";
    font-size: 15px;
    margin-left: 30px;
    width: 12%;
    text-align: center;
    margin-bottom: 20px;
    display:-moz-inline-box;
    display:inline-block;
}

.ticketButton
{
    border:2px solid #a1a1a1;
    width: 79px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 0;
    outline: 0;
    background-position: left top;
    background: #cccccc;
    color: #000080;
    font-size: 14px;
    margin-left: 35px;
    display:-moz-inline-box;
    display:inline-block;
}
.ticketButton1
{
    border:2px solid #a1a1a1;
    width: 79px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 0;
    outline: 0;
    background-position: left top;
    background: #cccccc;
    color: #000080;
    font-size: 14px;
    margin-left: 3px;
    display:-moz-inline-box;
    display:inline-block;
}